body {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(21, 24, 198);
  color: #fff;
}
img {
  max-width: 80%;
  display: block;
  display: flex;
  object-fit: cover; 
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  border: 1px solid black;
 
}

h1 {
  font-size: 80px;  
  font-family: sans-serif;
}
NavBar {
  letter-spacing: normal;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly ;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
